/* Color Scheme */
@media (prefers-color-scheme: light) {
  :root{
    color-scheme: "light";
  }
}

@media (prefers-color-scheme: dark) {
  :root{
    color-scheme: "dark";
  }
}

/* Root Variables */
:root{
  --colorBlackTrue: #000;
  --colorWhiteTrue: #FFF;

  --colorBackgroundLight: #EDF0DA;
  --colorPrimaryLight: #FF8360;
  --colorSecondaryLight: #EFE5CE;

  --colorBackgroundDark: #13262F;
  --colorPrimaryDark: #840032;
  --colorSecondaryDark: #1E222F;



  --heightMenu: 28px;
  --timeTransition: 310ms;
}

/* Global Elements */
body{
  max-height: 100vh;
  overflow: hidden;
}

body
, input
, select
, option
, textarea{
  background-color: light-dark(var(--colorBackgroundLight),var(--colorBackgroundDark));
  color: light-dark(var(--colorBackgroundDark),var(--colorBackgroundLight));
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h2{
  transition: text-decoration var(--timeTransition) ease-out;
}

h2:hover{
  text-decoration: light-dark(var(--colorPrimaryLight),var(--colorPrimaryDark)) wavy underline;
}

input
, select
, option
, textarea{
  background-color: light-dark(var(--colorBackgroundLight),var(--colorBackgroundDark));
  border: 1px solid light-dark(var(--colorPrimaryLight),var(--colorPrimaryDark));
  color: light-dark(var(--colorBackgroundDark),var(--colorBackgroundLight));
  font-size: 16px;
  height: 32px;
  padding: 6px;
  width: auto;
}

textarea{
  height: 6vh;
}

/* Classes */
.body{
  display: flex;
}

.btn
, .logo
, .todo
, .todoAdd{
  transition: color var(--timeTransition) ease-out;
}

.btn:hover{
  background-color: light-dark(var(--colorPrimaryLight),var(--colorPrimaryDark));
  border: 1px solid light-dark(var(--colorBackgroundLight),var(--colorBackgroundDark));
  color: light-dark(var(--colorBackgroundLight),var(--colorBackgroundDark));
}

.complete{
  text-decoration: line-through;
}

.container{
  margin: 1vh;
  text-align: center;
  width: 80vw;
}

.formAddTodo{
  text-align: center;
}

.formBox{
  width: 20vh;
}

.formEle{
  margin-bottom: 1vh;
}

.logo:hover{
  color: light-dark(var(--colorBackgroundDark),var(--colorBackgroundLight));
}

.menuSide{
  justify-content: end;
  background-color: light-dark(var(--colorSecondaryLight),var(--colorSecondaryDark));
  height: calc(100vh - var(--heightMenu));
  margin: 0;
  padding: 1vh;
  text-align: right;
  width: 18vw;
}

.mobileHide{
  display: flex;
}

.mobileShow{
  display: none;
}

.nav{
  align-items: center;
  background-color: light-dark(var(--colorPrimaryLight),var(--colorPrimaryDark));
  color: light-dark(var(--colorBackgroundLight),var(--colorBackgroundDark));
  display: flex;
  flex-wrap: wrap;
  font-size: 28px;
  height: var(--heightMenu);
  justify-content: space-between;
  overflow: hidden;
  padding: 1vh;
  width: auto;
}

.todo{
  background-color: light-dark(var(--colorBackgroundLight),var(--colorBackgroundDark));
  border: 1px solid light-dark(var(--colorPrimaryLight),var(--colorPrimaryDark));
}

.todo:hover{
  background-color: light,dark(var(--colorSecondaryLight),var(--colorSecondaryDark));
}

.todoAdd{
  align-items: center;
  background-color: light-dark(var(--colorSecondaryLight),var(--colorSecondaryDark));
  border-radius: 50%;
  bottom: 21px;
  color: light-dark(var(--colorPrimaryLight),var(--colorPrimaryDark));
  display: flex;
  font-size: 42px;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 21px;
  width: 50px;
  z-index: 999;
}

.todoAdd:hover{
  background-color: light-dark(var(--colorPrimaryLight),var(--colorPrimaryDark));
  color: light,dark(var(--colorSecondaryLight),var(--colorSecondaryDark));
}

.todoCore{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1vh;
  overflow: hidden;
  padding: 1vh;
  width: 100%
}

/* MOBILE */
@media screen and (max-width: 600px) {
  .mobileHide{
    display: none;
  }

  .mobileShow{
    display: flex;
  }
}