/* Root */
:root{
  --colorWhiteTrue: #FFF;
  --colorBlackTrue: #000;
  --colorBackgroundLight: #EDF0DA;
  --colorBackgroundDark: #13262F;
  --colorPrimaryLight: #FF8360;
  --colorPrimaryDark: #840032;

  --colorMode: var(--colorWhiteTrue);
  --colorPrimary: var(--colorPrimaryLight);
  --colorLight: var(--colorBackgroundLight);
  --colorDark: var(--colorBackgroundDark);
}

/* Elements */
body, label, input, select, option, textarea{
  background-color: var(--colorLight);
  color: var(--colorDark);
  font-family: Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

input, select, option, textarea{
  background-color: var(--colorLight);
  border: solid 1px var(--colorPrimary);
  color: var(--colorDark);
  font-size: 2vh;
  line-height: 2vh;
  padding: 0.5vh;
  height: 3vh;
  width: auto;
}

textarea{
  height: 6vh;
}

/* Classes */
.addTodo{
  text-align: center;
}

.btn:hover{
  background-color: var(--colorPrimary);
  border: solid 1px var(--colorLight);
  color: var(--colorLight);
}

.container{
  margin: 1vh;
}

.formEle {
  margin-bottom: 1vh;
}

.formBox{
  width: 20vh;
}

.formInputCorrect{
  border: solid black 0px;
  height: 2vh;
  margin: 0px 1vh;
  padding: 0.4vh;
}

.logo:hover{
  color: var(--colorDark);
}

.nav{
  align-items: center;
  background-color: var(--colorPrimary);
  color: var(--colorLight);
  display: flex;
  flex-wrap: wrap;
  font-size: 4vh;
  height: 4vh;
  justify-content: space-between;
  overflow: hidden;
  padding: 1vh;
  width: auto;
}

.navSearch{
  align-items: center;
  display: flex;
  height: 100%;
}

.todo{
  background-color: var(--colorLight);
  border: solid 1px var(--colorPrimary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  margin: 1vh;
  padding: 1vh;
}
